---
apiVersion: v1
kind: Secret
metadata:
  name: {{ ocp4_workload_ansible_automation_platform_app_name }}-admin-password
  namespace: {{ ocp4_workload_ansible_automation_platform_project }}
data:
  password: {{ _ocp4_workload_ansible_automation_platform_admin_password | b64encode }}
