---
apiVersion: keycloak.org/v1alpha1
kind: Keycloak
metadata:
  name: rhsso-instance
  namespace: {{ ocp4_workload_authentication_rhsso_namespace }}
  labels:
    app: sso
spec:
  externalAccess:
    enabled: true
  instances: 1
