---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: {{ ocp4_workload_minio_name }}
  namespace: {{ ocp4_workload_minio_project }}
spec:
  port:
    targetPort: 9000
  to:
    kind: Service
    name: {{ ocp4_workload_minio_name }}
    weight: 100
  wildcardPolicy: None
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: edge
