---
apiVersion: v1
kind: Secret
metadata:
  name: minio-keys
  namespace: {{ ocp4_workload_minio_project }}
type: Opaque
stringData:
  minio_root_user: {{ ocp4_workload_minio_root_user }}
  minio_root_password: {{ocp4_workload_minio_root_password }}
