---
- name: Set common password for named users
  when: not ocp4_workload_authentication_htpasswd_named_user_password_randomized | bool
  ansible.builtin.set_fact:
    _ocp4_workload_authentication_htpasswd_named_user_password: >-
      {{ ocp4_workload_authentication_htpasswd_named_user_password
        | default(
          lookup('password', '/dev/null',
            chars=['ascii_letters','digits'],
            length=_user.password_length | default(ocp4_workload_authentication_htpasswd_user_password_length)
          )
        , true)
      }}

- name: Set passwords for named users
  ansible.builtin.set_fact:
    _ocp4_workload_authentication_htpasswd_named_user_passwords: >-
      {{ _ocp4_workload_authentication_htpasswd_named_user_passwords
        | combine({
          _user.name: (
            _user.password
            | default(_ocp4_workload_authentication_htpasswd_named_user_password, true)
            | default(_random_password, true)
          )
        })
      }}
  vars:
    _random_password: >-
      {{
        lookup('password', '/dev/null',
          chars=['ascii_letters','digits'],
          length=_user.password_length | default(ocp4_workload_authentication_htpasswd_user_password_length)
        )
      }}
  loop: "{{ _ocp4_workload_authentication_htpasswd_named_users }}"
  loop_control:
    loop_var: _user
    label: "{{ _user.name }}"

- name: Set common password for numbered users
  when: not ocp4_workload_authentication_htpasswd_user_password_randomized | bool
  ansible.builtin.set_fact:
    _ocp4_workload_authentication_htpasswd_user_password: >-
      {{ ocp4_workload_authentication_htpasswd_user_password
        | default(
          lookup('password', '/dev/null',
            chars=['ascii_letters','digits'],
            length=_user.password_length | default(ocp4_workload_authentication_htpasswd_user_password_length)
          )
        )
      }}

- name: Set passwords for numbered users
  ansible.builtin.set_fact:
    # Set password in list to provided password generated value if not set.
    _ocp4_workload_authentication_htpasswd_user_passwords: >-
      {{ _ocp4_workload_authentication_htpasswd_user_passwords +
        [
          _ocp4_workload_authentication_htpasswd_user_password
          | default(_random_password, true)
        ]
      }}
  vars:
    _random_password: >-
      {{
        lookup('password', '/dev/null',
          chars=['ascii_letters','digits'],
          length=_user.password_length | default(ocp4_workload_authentication_htpasswd_user_password_length)
        )
      }}
  loop: "{{ range(0, _ocp4_workload_authentication_htpasswd_user_count | int) | list }}"

- name: Create temporary htpasswd file
  ansible.builtin.tempfile:
    state: file
    suffix: htpasswd
  register: r_htpasswd

- name: Add named users to htpasswd file
  ansible.builtin.command: >-
    /usr/bin/htpasswd -b {{ r_htpasswd.path | ansible.builtin.quote }}
    {{ _username | ansible.builtin.quote }}
    {{ _password | ansible.builtin.quote }}
  loop: >-
    {{ _ocp4_workload_authentication_htpasswd_named_user_passwords
     | ansible.builtin.dict2items
    }}
  loop_control:
    label: "{{ _username }}"
  vars:
    _username: "{{ item.key }}"
    _password: "{{ item.value }}"

- name: Add numbered users and passwords to htpasswd file
  ansible.builtin.command: >-
    htpasswd -b {{ r_htpasswd.path | ansible.builtin.quote }}
    {{ _username | ansible.builtin.quote }}
    {{ _password | ansible.builtin.quote }}
  loop: "{{ range(0, _ocp4_workload_authentication_htpasswd_user_count | int) | list }}"
  loop_control:
    label: "{{ _username }}"
  vars:
    _username: "{{ ocp4_workload_authentication_htpasswd_user_base }}{{ item | int + 1 }}"
    _password: "{{ _ocp4_workload_authentication_htpasswd_user_passwords[item] }}"

- name: Read contents of htpasswd file
  ansible.builtin.slurp:
    src: "{{ r_htpasswd.path }}"
  register: r_htpasswd_file

- name: Remove generated htpasswd file
  ansible.builtin.file:
    path: "{{ r_htpasswd.path }}"
    state: absent

- name: Create or update htpasswd secret is absent
  kubernetes.core.k8s:
    force: true
    resource_definition:
      api_version: v1
      kind: Secret
      metadata:
        name: htpasswd
        namespace: openshift-config
      data:
        htpasswd: "{{ r_htpasswd_file.content }}"
  register: r_htpasswd_secret
  retries: 5
  delay: 10
  until: r_htpasswd_secret is success

- name: Update OAuth configuration
  kubernetes.core.k8s:
    state: present
    src: oauth_htpasswd.yaml
  register: r_htpasswd_oauth
  retries: 5
  delay: 10
  until: r_htpasswd_oauth is success

- name: Print user information messages
  when: ocp4_workload_authentication_htpasswd_enable_user_info_messages | bool
  block:
  - name: Print common user information messages
    agnosticd.core.agnosticd_user_info:
      msg: >-
        Authentication via htpasswd is enabled on this cluster.

        {% for _named_user in _ocp4_workload_authentication_htpasswd_named_users -%}
        User `{{ _named_user.name }}` created with password `{{ _ocp4_workload_authentication_htpasswd_named_user_passwords[_named_user.name] }}`{% if _named_user.cluster_role is defined %} and cluster role `{{ _named_user.cluster_role }}`{% endif %}.
        {% endfor %}


        {% if _ocp4_workload_authentication_htpasswd_user_count | int > 0 -%}
        Users `{{ ocp4_workload_authentication_htpasswd_user_base }}1` ..
        `{{ ocp4_workload_authentication_htpasswd_user_base ~ _ocp4_workload_authentication_htpasswd_user_count }}`
        {%- if ocp4_workload_authentication_htpasswd_user_password_randomized | bool %}
        created.

        {% for _n in range(0, _ocp4_workload_authentication_htpasswd_user_count) -%}
        User `{{ ocp4_workload_authentication_htpasswd_user_base }}{{ _n + 1 }}`,
        Password `{{ _ocp4_workload_authentication_htpasswd_user_passwords[_n] }}`

        {% endfor %}
        {%- else %}
        created with password `{{ _ocp4_workload_authentication_htpasswd_user_password }}`.
        {%- endif %}
        {%- endif %}

- name: Save cluster access information
  agnosticd.core.agnosticd_user_info:
    data:
      openshift_api_server_url: "{{ _ocp4_workload_authentication_htpasswd_api_server }}"
      openshift_cluster_console_url: "{{ _ocp4_workload_authentication_htpasswd_console_route }}"
      openshift_user_passwords: "{{ _ocp4_workload_authentication_htpasswd_named_user_passwords }}"

- name: Save cluster admin user data
  vars:
    _cluster_admin_user_name: >-
      {{ _ocp4_workload_authentication_htpasswd_named_users
       | json_query("[?cluster_role=='cluster-admin'].name|[0]")
      }}
  when: _cluster_admin_user_name | default("") != ""
  agnosticd.core.agnosticd_user_info:
    data:
      openshift_cluster_admin_username: "{{ _cluster_admin_user_name }}"
      openshift_cluster_admin_password: >-
        {{
          _ocp4_workload_authentication_htpasswd_named_user_passwords[_cluster_admin_user_name]
        }}

- name: Save numbered user information
  when: _ocp4_workload_authentication_htpasswd_user_count | int > 0
  agnosticd.core.agnosticd_user_info:
    # Pass data as dict to preserve integer type for openshift_cluster_user_count
    data: >-
      {{
        {
          "openshift_cluster_num_users": ocp4_workload_authentication_htpasswd_user_count | int,
          "openshift_cluster_user_base": ocp4_workload_authentication_htpasswd_user_base,
          "openshift_cluster_user_count": ocp4_workload_authentication_htpasswd_user_count | int,
        }
      }}

- name: Save user name for single user compatibility hack
  when: ocp4_workload_authentication_htpasswd_single_user_compatibility_hack | bool
  agnosticd.core.agnosticd_user_info:
    data:
      openshift_cluster_user_name: "{{ ocp4_workload_authentication_htpasswd_user_name }}"

- name: Save common user password if not randomized
  when:
  - not ocp4_workload_authentication_htpasswd_user_password_randomized | bool
  - ocp4_workload_authentication_htpasswd_single_user_compatibility_hack or _ocp4_workload_authentication_htpasswd_user_count | int > 0
  agnosticd.core.agnosticd_user_info:
    data:
      openshift_cluster_user_password: "{{ _ocp4_workload_authentication_htpasswd_user_password }}"

- name: Save numbered user information for user access
  when: ocp4_workload_authentication_htpasswd_enable_user_info_data | bool
  agnosticd.core.agnosticd_user_info:
    user: "{{ ocp4_workload_authentication_htpasswd_user_base }}{{ _n + 1 }}"
    data:
      user: "{{ ocp4_workload_authentication_htpasswd_user_base }}{{ _n + 1 }}"
      password: "{{ _ocp4_workload_authentication_htpasswd_user_passwords[_n] }}"
      console_url: "{{ _ocp4_workload_authentication_htpasswd_console_route }}"
      openshift_console_url: "{{ _ocp4_workload_authentication_htpasswd_console_route }}"
      openshift_cluster_ingress_domain: "{{ _ocp4_workload_authentication_htpasswd_cluster_ingress_domain }}"
      login_command: >-
        oc login --insecure-skip-tls-verify=false
        -u {{ ocp4_workload_authentication_htpasswd_user_base ~ (_n + 1) }}
        -p {{ _ocp4_workload_authentication_htpasswd_user_passwords[_n] }}
        {{ _ocp4_workload_authentication_htpasswd_api_server }}
  loop: "{{ range(0, _ocp4_workload_authentication_htpasswd_user_count | int) | list }}"
  loop_control:
    loop_var: _n
