---

- name: Save OpenShift access facts
  vars:
    _ingress_config: "{{ r_ingress_config.resources[0] }}"
  ansible.builtin.set_fact:
    _ocp4_workload_authentication_htpasswd_cluster_ingress_domain: "{{ openshift_cluster_ingress_domain }}"
    _ocp4_workload_authentication_htpasswd_console_route: "https://console-openshift-console.{{ openshift_cluster_ingress_domain }}"
    _ocp4_workload_authentication_htpasswd_api_server: "{{ openshift_api_url }}"

- name: Setup htpasswd authentication
  ansible.builtin.include_tasks: setup_htpasswd.yml

- name: Setup cluster role bindings
  ansible.builtin.include_tasks: setup_cluster_role_bindings.yml

- name: Remove kubeadmin user
  when: ocp4_workload_authentication_htpasswd_remove_kubeadmin | bool
  kubernetes.core.k8s:
    state: absent
    api_version: v1
    kind: Secret
    name: kubeadmin
    namespace: kube-system
  register: r_remove_kubadmin_secret
  until: r_remove_kubadmin_secret is successful
  delay: 15
  retries: 20
