---
# --------------------------------
# Keycloak Operator
# --------------------------------

ocp4_workload_authentication_keycloak_namespace: keycloak

ocp4_workload_authentication_keycloak_pgsql_user: keycloak

ocp4_workload_authentication_keycloak_pgsql_password: ""

ocp4_workload_authentication_keycloak_channel: stable-v26.2

ocp4_workload_authentication_keycloak_automatic_install_plan_approval: true

ocp4_workload_authentication_keycloak_starting_csv: ""

ocp4_workload_authentication_keycloak_use_catalog_source: false

ocp4_workload_authentication_keycloak_catalogsource_image: quay.io/gpte-devops-automation/olm_snapshot_redhat_catalog

ocp4_workload_authentication_keycloak_catalogsource_tag: v4.20_2025_10_23

ocp4_workload_authentication_keycloak_default_realm: sso

ocp4_workload_authentication_keycloak_num_users: "{{ num_users | default(0) }}"

ocp4_workload_authentication_keycloak_admin_create: true

ocp4_workload_authentication_keycloak_admin_username: admin

# Admin password. If set to empty string then a password will be generated.
ocp4_workload_authentication_keycloak_admin_password: ""

# Length of password if generated for admin user.
ocp4_workload_authentication_keycloak_admin_password_length: 10

# Base name prefix for numbered users
ocp4_workload_authentication_keycloak_user_username_base: user

# User password. If set to empty string then a password will be generated.
ocp4_workload_authentication_keycloak_user_password: ""

# Length of password generated for user.
ocp4_workload_authentication_keycloak_user_password_length: 10

# Generate a separate password for each numbered user account.
ocp4_workload_authentication_keycloak_user_password_randomized: false

ocp4_workload_authentication_keycloak_openshift_client_secret: ""

ocp4_workload_authentication_keycloak_openshift_client_id: idp-4-ocp

ocp4_workload_authentication_keycloak_remove_kubeadmin: false

ocp4_workload_authentication_keycloak_enable_user_info_messages: true

# Optional named users if users other than admin should be created.
# An admin user with cluster-admin access is automatically added to the list of
# named users if  ocp4_workload_authentication_keycloak_admin_create is set.
# Ex:
#ocp4_workload_authentication_keycloak_named_users:
#- name: cluster-reader
#  cluster_role: cluster-reader
#  password: reader
#  realm_roles:
#  - auditor
#  - user
#- name: developer
#  password_length: 8
#  realm_roles:
#  - developer
#  - user
ocp4_workload_authentication_keycloak_named_users: []

# Optional common password for all named user accounts.
ocp4_workload_authentication_keycloak_named_user_password: ""

# Generate a separate password for each named user account.
ocp4_workload_authentication_keycloak_named_user_password_randomized: true
