---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: rhacs-central-cert
  namespace: {{ ocp4_workload_rhacs_central_namespace }}
spec:
  secretName: rhacs-central-tls
  # 90 days
  duration: 2160h
  # renew 15 days before expiry
  renewBefore: 360h
  dnsNames:
  - central-{{ ocp4_workload_rhacs_central_namespace }}.{{ openshift_cluster_ingress_domain }}
  issuerRef:
    name: {{ ocp4_workload_rhacs_cert_cluster_issuer }}
    kind: ClusterIssuer
    group: cert-manager.io
