---
apiVersion: v1
kind: Secret
metadata:
  name: {{ ocp4_workload_rhacm_cloud_credentials_kubevirt_secret_name }}
  namespace: {{ ocp4_workload_rhacm_cloud_credentials_namespace }}
  annotations:
  labels:
    cluster.open-cluster-management.io/credentials: ""
    cluster.open-cluster-management.io/type: kubevirt
type: Opaque
data:
  pullSecret: {{ ocp4_pull_secret | to_json | b64encode }}
  ssh-privatekey: {{ ocp4_workload_rhacm_cloud_credentials_ssh_privatekey | string | b64encode }}
  ssh-publickey: {{ ocp4_workload_rhacm_cloud_credentials_ssh_publickey | string | b64encode }}
