apiVersion: v1
kind: Secret
metadata:
  name: {{ ocp4_workload_rhacm_cloud_credentials_aws_secret_name }}
  namespace: {{ ocp4_workload_rhacm_cloud_credentials_namespace }}
  annotations:
  labels:
    cluster.open-cluster-management.io/credentials: ""
    cluster.open-cluster-management.io/type: aws
type: Opaque
data:
  aws_access_key_id: {{ ocp4_workload_rhacm_cloud_credentials_aws_access_key | string | b64encode }}
  aws_secret_access_key: {{ ocp4_workload_rhacm_cloud_credentials_aws_secret_key | string | b64encode }}
  baseDomain: {{ ocp4_workload_rhacm_cloud_credentials_aws_base_domain | string | b64encode }}
  pullSecret: {{ ocp4_workload_rhacm_cloud_credentials_ocp4_token | string | b64encode }}
  ssh-privatekey: {{ ocp4_workload_rhacm_cloud_credentials_ssh_privatekey | string | b64encode }}
  ssh-publickey: {{ ocp4_workload_rhacm_cloud_credentials_ssh_publickey | string | b64encode }}
