---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: gitlab-ce
  namespace: {{ ocp4_workload_gitlab_namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: gitlab-ce-anyuid
  namespace: {{ ocp4_workload_gitlab_namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:openshift:scc:anyuid
subjects:
- kind: ServiceAccount
  name: gitlab-ce
  namespace: {{ ocp4_workload_gitlab_namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gitlab-prometheus-k8s-read
rules:
- apiGroups: [""]
  resources: ["nodes", "pods"]
  verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: gitlab-ce-prometheus-k8s-read
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: gitlab-prometheus-k8s-read
subjects:
- kind: ServiceAccount
  name: gitlab-ce
  namespace: {{ ocp4_workload_gitlab_namespace }}
