---
kind: ConfigMap
apiVersion: v1
metadata:
  name: gitlab-runner-config
  namespace: {{ ocp4_workload_gitlab_namespace }}
data:
  config.toml: |-
    concurrent = {{ ocp4_workload_gitlab_runner_replicas }}
    check_interval = 10
    log_level = "info"

    [session_server]
      session_timeout = 1800
