---
apiVersion: v1
kind: Secret
metadata:
  name: gitlab-root-token
  namespace: {{ ocp4_workload_gitlab_namespace }}
  labels:
    app: gitlab
type: Opaque
stringData:
  token: "{{ _gitlab_automation_token }}"
