---
apiVersion: v1
kind: Secret
metadata:
  name: keycloak-admin-credentials
  namespace: {{ ocp4_workload_gitlab_namespace }}
type: Opaque
data:
  username: "{{ r_keycloak_admin.resources[0].data.username }}"
  password: "{{ r_keycloak_admin.resources[0].data.password }}"
