---
apiVersion: v1
kind: Secret
metadata:
  name: gitlab-keycloak-client
  namespace: {{ ocp4_workload_gitlab_keycloak_namespace }}
  labels:
    app: keycloak
type: Opaque
stringData:
  client_id: "{{ ocp4_workload_gitlab_keycloak_client_id }}"
  client_secret: "{{ _ocp4_workload_gitlab_keycloak_client_secret }}"
