REGISTRY_TITLE: {{ ocp4_workload_quay_operator_registry_display_name }}
SERVER_HOSTNAME: {{ _ocp4_workload_quay_operator_registry_route }}
EXTERNAL_TLS_TERMINATION: true
{% if ocp4_workload_quay_operator_registry_configure_admin | bool %}
SUPER_USERS:
- {{ ocp4_workload_quay_operator_registry_admin_user }}
FEATURE_USER_INITIALIZE: true
{% endif %}
# S4 Storage Configuration
DISTRIBUTED_STORAGE_CONFIG:
  s4storage:
    - RadosGWStorage
    - hostname: s4.{{ ocp4_workload_quay_operator_s4_namespace }}.svc.cluster.local
      port: 7480
      is_secure: false
      bucket_name: {{ ocp4_workload_quay_operator_s4_bucket_name }}
      storage_path: /datastorage/registry
      access_key: {{ ocp4_workload_quay_operator_s4_access_key }}
      secret_key: {{ ocp4_workload_quay_operator_s4_secret_key }}
DISTRIBUTED_STORAGE_DEFAULT_LOCATIONS: []
DISTRIBUTED_STORAGE_PREFERENCE:
- s4storage
