---
apiVersion: v1
kind: Secret
metadata:
  name: s4-storage-credentials
  namespace: {{ ocp4_workload_quay_operator_registry_namespace }}
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: {{ ocp4_workload_quay_operator_s4_access_key }}
  AWS_SECRET_ACCESS_KEY: {{ ocp4_workload_quay_operator_s4_secret_key }}
