---
- name: Retrieve Keycloak admin credentials
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Secret
    name: keycloak-initial-admin
    namespace: "{{ ocp4_workload_authentication_keycloak_namespace }}"
  register: r_keycloak_credentials
  retries: 120
  delay: 10
  until:
  - r_keycloak_credentials is defined
  - r_keycloak_credentials.resources is defined
  - r_keycloak_credentials.resources | length > 0

- name: Save user information messages
  agnosticd.core.agnosticd_user_info:
    msg: >-
      Authentication via Keycloak is enabled on this cluster.

      Keycloak admin console: https://sso.{{ openshift_cluster_ingress_domain }}

      Keycloak admin user: {{ r_keycloak_credentials.resources[0].data.username | b64decode }}

      Keycloak admin password: {{ r_keycloak_credentials.resources[0].data.password | b64decode }}

      {% for _named_user in _ocp4_workload_authentication_keycloak_named_users -%}
      User `{{ _named_user.name }}` created with password `{{ _ocp4_workload_authentication_keycloak_named_user_passwords[_named_user.name] }}`{% if _named_user.cluster_role is defined %} and cluster role `{{ _named_user.cluster_role }}`{% endif %}.
      {% endfor %}

      {% if ocp4_workload_authentication_keycloak_num_users | int > 0 -%}
      Users `{{ ocp4_workload_authentication_keycloak_user_username_base }}1` ..
      `{{ ocp4_workload_authentication_keycloak_user_username_base ~ ocp4_workload_authentication_keycloak_num_users }}`
      {%- if ocp4_workload_authentication_keycloak_user_password_randomized | bool %}
      created.

      {% for _n in range(0, ocp4_workload_authentication_keycloak_num_users) -%}
      User `{{ ocp4_workload_authentication_keycloak_user_username_base }}{{ _n + 1 }}`,
      Password `{{ _ocp4_workload_authentication_keycloak_user_passwords[_n] }}`

      {% endfor %}
      {%- else %}
      created with password `{{ _ocp4_workload_authentication_keycloak_user_password }}`.
      {%- endif %}
      {%- endif %}
    data:
      keycloak_admin_console: https://sso.{{ openshift_cluster_ingress_domain }}
      keycloak_admin_user: "{{ r_keycloak_credentials.resources[0].data.username | b64decode }}"
      keycloak_admin_password: "{{ r_keycloak_credentials.resources[0].data.password | b64decode }}"
      openshift_api_server_url: "{{ openshift_api_url }}"
      openshift_cluster_console_url: "{{ openshift_console_url }}"
      openshift_user_passwords: "{{ _ocp4_workload_authentication_keycloak_named_user_passwords }}"

- name: Save cluster admin user data
  vars:
    _username: >-
      {{ _ocp4_workload_authentication_keycloak_named_users
       | json_query("[?cluster_role=='cluster-admin'].name|[0]")
      }}
    _password: >-
      {{ _ocp4_workload_authentication_keycloak_named_user_passwords[_username] }}
  when: _username | default("") != ""
  agnosticd.core.agnosticd_user_info:
    data:
      openshift_cluster_admin_username: "{{ _username }}"
      openshift_cluster_admin_password: "{{ _password }}"

- name: Save numbered user information
  when: ocp4_workload_authentication_keycloak_num_users | int > 0
  agnosticd.core.agnosticd_user_info:
    # Pass data as dict to preserve integer type
    data: >-
      {{
        {
          "openshift_cluster_num_users": ocp4_workload_authentication_keycloak_num_users | int,
          "openshift_cluster_user_base": ocp4_workload_authentication_keycloak_user_username_base,
          "openshift_cluster_user_count": ocp4_workload_authentication_keycloak_num_users | int,
        }
      }}

- name: Save user information for user access
  agnosticd.core.agnosticd_user_info:
    user: "{{ ocp4_workload_authentication_keycloak_user_username_base }}{{ _n + 1 }}"
    data:
      user: "{{ ocp4_workload_authentication_keycloak_user_username_base }}{{ _n + 1 }}"
      password: "{{ _ocp4_workload_authentication_keycloak_user_password }}"
      console_url: "{{ openshift_console_url }}"
      openshift_console_url: "{{ openshift_console_url }}"
      openshift_cluster_ingress_domain: "{{ openshift_cluster_ingress_domain }}"
      login_command: >-
        oc login --insecure-skip-tls-verify=false
        --username {{ ocp4_workload_authentication_keycloak_user_username_base }}{{ _n + 1 }}
        --password {{ _ocp4_workload_authentication_keycloak_user_passwords[_n] }}
        {{ openshift_api_url }}
  loop: "{{ range(0, ocp4_workload_authentication_keycloak_num_users | int) | list }}"
  loop_control:
    loop_var: _n
