---
- name: Generate cluster admin password
  when: ocp4_workload_authentication_keycloak_admin_password | default('') | length == 0
  ansible.builtin.set_fact:
    _ocp4_workload_authentication_keycloak_admin_password: >-
      {{ lookup('password', '/dev/null chars=ascii_letters,digits '
          ~ 'length=' ~ ocp4_workload_authentication_keycloak_admin_password_length
      ) }}

- name: Use provided admin password
  when: ocp4_workload_authentication_keycloak_admin_password | default('') | length > 0
  ansible.builtin.set_fact:
    _ocp4_workload_authentication_keycloak_admin_password: >-
      {{ ocp4_workload_authentication_keycloak_admin_password }}

- name: Set up randomized user password array
  when: ocp4_workload_authentication_keycloak_user_password_randomized | bool
  ansible.builtin.set_fact:
    _ocp4_workload_authentication_keycloak_user_passwords: >-
      {{ _ocp4_workload_authentication_keycloak_user_passwords + [ lookup('password',
        '/dev/null chars=ascii_letters,digits '
        ~ 'length=' ~ ocp4_workload_authentication_keycloak_user_password_length ) ] }}
  loop: "{{ range(0, ocp4_workload_authentication_keycloak_user_count | int, 1) | list }}"

- name: Set up common user password array
  when:
  - not ocp4_workload_authentication_keycloak_user_password_randomized | bool
  - ocp4_workload_authentication_keycloak_user_count | int > 0
  block:
  - name: Generate common user password
    when: ocp4_workload_authentication_keycloak_user_password | default('') | length == 0
    ansible.builtin.set_fact:
      _ocp4_workload_authentication_keycloak_user_password: >-
        {{ lookup('password', '/dev/null chars=ascii_letters,digits '
            ~ 'length=' ~ ocp4_workload_authentication_keycloak_user_password_length
        ) }}

  - name: Use provided user password
    when: ocp4_workload_authentication_keycloak_user_password | default('') | length > 0
    ansible.builtin.set_fact:
      _ocp4_workload_authentication_keycloak_user_password: >-
        {{ ocp4_workload_authentication_keycloak_user_password }}

  - name: Generate user passwords array for common password
    ansible.builtin.set_fact:
      _ocp4_workload_authentication_keycloak_user_passwords: >-
        {{ _ocp4_workload_authentication_keycloak_user_passwords + [_ocp4_workload_authentication_keycloak_user_password] }}
    loop: "{{ range(0, ocp4_workload_authentication_keycloak_user_count | int, 1) | list }}"

- name: Generate common password for named users without explicit passwords
  when:
  - ocp4_workload_authentication_keycloak_named_users | default([]) | length > 0
  - _ocp4_workload_authentication_keycloak_user_password | default('') | length == 0
  ansible.builtin.set_fact:
    _ocp4_workload_authentication_keycloak_user_password: >-
      {{ lookup('password', '/dev/null chars=ascii_letters,digits '
          ~ 'length=' ~ ocp4_workload_authentication_keycloak_user_password_length
      ) }}

- name: Generate openshift client secret
  when: ocp4_workload_authentication_keycloak_openshift_client_secret | default('') | length == 0
  ansible.builtin.set_fact:
    _ocp4_workload_authentication_keycloak_openshift_client_secret: >-
      {{ lookup('password', '/dev/null chars=ascii_letters,digits length=10') }}

- name: Use provided openshift client secret
  when: ocp4_workload_authentication_keycloak_openshift_client_secret | default('') | length > 0
  ansible.builtin.set_fact:
    _ocp4_workload_authentication_keycloak_openshift_client_secret: >-
      {{ ocp4_workload_authentication_keycloak_openshift_client_secret }}

- name: Create Keycloak PSQL deployment
  kubernetes.core.k8s:
    state: present
    namespace: "{{ ocp4_workload_authentication_keycloak_namespace }}"
    template: "{{ item }}"
  loop:
  - postgres_database_user_details.yml.j2
  - postgres_database_pvc.yml.j2
  - postgres_database_deployment.yml.j2
  - postgres_database_service.yml.j2

- name: Create Keycloak instance
  kubernetes.core.k8s:
    state: present
    namespace: "{{ ocp4_workload_authentication_keycloak_namespace }}"
    template: "{{ item }}"
  loop:
  - keycloak_tls_service.yml.j2
  - keycloak_instance.yml.j2
  - keycloak_route.yml.j2
  - keycloak_realm_import.yml.j2
  register: r_keycloak_instance
  retries: 120
  delay: 10
  until: r_keycloak_instance is not failed

- name: Create Openshift auth resources
  kubernetes.core.k8s:
    state: present
    template: "{{ item }}"
  loop:
  - openshift-openid-client-secret.yml.j2
  - openshift-oauth.yml.j2

- name: Retrieve Keycloak admin credentials
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Secret
    name: keycloak-initial-admin
    namespace: "{{ ocp4_workload_authentication_keycloak_namespace }}"
  register: r_keycloak_credentials
  retries: 120
  delay: 10
  until:
  - r_keycloak_credentials is defined
  - r_keycloak_credentials.resources is defined
  - r_keycloak_credentials.resources | length > 0

- name: Print user information messages
  when: ocp4_workload_authentication_keycloak_enable_user_info_messages | bool
  block:
  - name: Print common user information messages
    agnosticd.core.agnosticd_user_info:
      msg: >-
        Authentication via Keycloak is enabled on this cluster.
        Keycloak admin console: https://sso.{{ openshift_cluster_ingress_domain }}
        Keycloak admin user: {{ r_keycloak_credentials.resources[0].data.username | b64decode }}
        Keycloak admin password: {{ r_keycloak_credentials.resources[0].data.password | b64decode }}

  - name: Print admin information
    when: ocp4_workload_authentication_keycloak_admin_create | bool
    agnosticd.core.agnosticd_user_info:
      msg: >-
        User '{{ ocp4_workload_authentication_keycloak_admin_username }}'
        with password '{{ _ocp4_workload_authentication_keycloak_admin_password }}'
        is cluster admin.

  - name: Print user information for common password
    when:
    - ocp4_workload_authentication_keycloak_user_count | int > 0
    - not ocp4_workload_authentication_keycloak_user_password_randomized | bool
    agnosticd.core.agnosticd_user_info:
      msg: >-
        {%- if ocp4_workload_authentication_keycloak_user_count | int == 1 -%}
        Normal user `{{ ocp4_workload_authentication_keycloak_user_name }}`
        created with password `{{ _ocp4_workload_authentication_keycloak_user_password }}`
        {%- else -%}
        Users `{{ ocp4_workload_authentication_keycloak_user_username_base }}1` ..
        `{{ ocp4_workload_authentication_keycloak_user_username_base ~ ocp4_workload_authentication_keycloak_user_count }}`
        created with password `{{ _ocp4_workload_authentication_keycloak_user_password }}`
        {%- endif -%}

  - name: Print user information for randomized password
    when:
    - ocp4_workload_authentication_keycloak_user_count | int > 0
    - ocp4_workload_authentication_keycloak_user_password_randomized | bool
    agnosticd.core.agnosticd_user_info:
      msg: >-
        {%- if ocp4_workload_authentication_keycloak_user_count | int == 1 -%}
        Normal user `{{ ocp4_workload_authentication_keycloak_user_name }}`
        created with password `{{ _ocp4_workload_authentication_keycloak_user_passwords[0] }}`
        {%- else -%}
        User `{{ ocp4_workload_authentication_keycloak_user_username_base }}{{ n + 1 }}`,
        Password: `{{ _ocp4_workload_authentication_keycloak_user_passwords[n] }}`
        {%- endif -%}
    loop: "{{ range(0, ocp4_workload_authentication_keycloak_user_count | int) | list }}"
    loop_control:
      loop_var: n

  - name: Print named user information
    when: ocp4_workload_authentication_keycloak_named_users | default([]) | length > 0
    agnosticd.core.agnosticd_user_info:
      msg: >-
        Named user `{{ item.name }}` created with password
        `{{ item.password | default(_ocp4_workload_authentication_keycloak_user_password) }}`
    loop: "{{ ocp4_workload_authentication_keycloak_named_users }}"

- name: Save common user and cluster admin information
  agnosticd.core.agnosticd_user_info:
    data: >-
      {{
        {
          "keycloak_admin_console": "https://sso." ~ openshift_cluster_ingress_domain,
          "keycloak_admin_user": r_keycloak_credentials.resources[0].data.username | b64decode,
          "keycloak_admin_password": r_keycloak_credentials.resources[0].data.password | b64decode,
          "openshift_api_server_url": openshift_api_url,
          "openshift_cluster_console_url": openshift_console_url,
          "openshift_cluster_num_users": ocp4_workload_authentication_keycloak_user_count | int,
          "openshift_cluster_user_base": ocp4_workload_authentication_keycloak_user_username_base,
          "openshift_cluster_user_count": ocp4_workload_authentication_keycloak_user_count | int,
        }
      }}

- name: Save admin information
  when: ocp4_workload_authentication_keycloak_admin_create | bool
  agnosticd.core.agnosticd_user_info:
    data:
      openshift_cluster_admin_username: "{{ ocp4_workload_authentication_keycloak_admin_username }}"
      openshift_cluster_admin_password: "{{ _ocp4_workload_authentication_keycloak_admin_password }}"

- name: Save user name for single user configuration
  when: ocp4_workload_authentication_keycloak_user_count | int == 1
  agnosticd.core.agnosticd_user_info:
    data:
      openshift_cluster_user_name: "{{ ocp4_workload_authentication_keycloak_user_name }}"

- name: Save common user password if not randomized
  when:
  - not ocp4_workload_authentication_keycloak_user_password_randomized | bool
  - _ocp4_workload_authentication_keycloak_user_password | default('') | length > 0
  agnosticd.core.agnosticd_user_info:
    data:
      openshift_cluster_user_password: "{{ _ocp4_workload_authentication_keycloak_user_password }}"

- name: Save named user passwords as provision data
  when: ocp4_workload_authentication_keycloak_named_users | default([]) | length > 0
  agnosticd.core.agnosticd_user_info:
    data: >-
      {{
        {
          item.name ~ "_password": item.password
            | default(_ocp4_workload_authentication_keycloak_user_password),
        }
      }}
  loop: "{{ ocp4_workload_authentication_keycloak_named_users }}"

- name: Save user information
  when: ocp4_workload_authentication_keycloak_enable_user_info_data | bool
  block:
  - name: Save user information for user access
    agnosticd.core.agnosticd_user_info:
      user: "{{ ocp4_workload_authentication_keycloak_user_username_base }}{{ n + 1 }}"
      data:
        user: "{{ ocp4_workload_authentication_keycloak_user_username_base }}{{ n + 1 }}"
        password: "{{ _ocp4_workload_authentication_keycloak_user_passwords[ n ] }}"
        console_url: "{{ openshift_console_url }}"
        openshift_console_url: "{{ openshift_console_url }}"
        openshift_cluster_ingress_domain: "{{ openshift_cluster_ingress_domain }}"
        login_command: >-
          oc login --insecure-skip-tls-verify=false
          -u {{ ocp4_workload_authentication_keycloak_user_username_base }}{{ n + 1 }}
          -p {{ _ocp4_workload_authentication_keycloak_user_passwords[ n ] }}
          {{ openshift_api_url }}
    loop: "{{ range(0, ocp4_workload_authentication_keycloak_user_count | int) | list }}"
    loop_control:
      loop_var: n
