---
# Set user password facts

# Only set _ocp4_workload_authentication_keycloak_named_user_password for
# a common password if randomized different passwords for each user is not
# desired.
#
# If `ocp4_workload_authentication_keycloak_named_user_password` was explicitly
# set then `_ocp4_workload_authentication_keycloak_named_user_password` is
# set from that value by `vars/main.yml`.
- name: Set common password for named users
  when:
  - not ocp4_workload_authentication_keycloak_named_user_password_randomized | bool
  - _ocp4_workload_authentication_keycloak_named_user_password == ""
  ansible.builtin.set_fact:
    _ocp4_workload_authentication_keycloak_named_user_password: >-
      {{
        lookup('password',
          [output_dir, '_ocp4_workload_authentication_keycloak_named_user_password'] | ansible.builtin.path_join,
          chars=['ascii_letters','digits'],
          length=ocp4_workload_authentication_keycloak_user_password_length
        )
      }}

# Set a password entry in _ocp4_workload_authentication_keycloak_named_user_passwords
# for each named user, either using the value set in the previous task or
# generating a new random value for each.
- name: Set passwords for named users
  ansible.builtin.set_fact:
    _ocp4_workload_authentication_keycloak_named_user_passwords: >-
      {{ _ocp4_workload_authentication_keycloak_named_user_passwords
        | combine({
          _user.name: (
            _user.password
            | default(_ocp4_workload_authentication_keycloak_named_user_password, true)
            | default(_random_password, true)
          )
        })
      }}
  vars:
    _random_password: >-
      {{
        lookup('password',
          [output_dir, '_ocp4_workload_authentication_keycloak_named_user_passwords.' ~ _user.name] | ansible.builtin.path_join,
          chars=['ascii_letters','digits'],
          length=_user.password_length | default(ocp4_workload_authentication_keycloak_user_password_length)
        )
      }}
  loop: "{{ _ocp4_workload_authentication_keycloak_named_users }}"
  loop_control:
    loop_var: _user
    label: "{{ _user.name }}"

# Only set _ocp4_workload_authentication_keycloak_user_password for
# a common password if randomized different passwords for each user is not
# desired.
#
# If `ocp4_workload_authentication_keycloak_user_password` was explicitly
# set then `_ocp4_workload_authentication_keycloak_user_password` is
# set from that value by `vars/main.yml`.
- name: Set common password for numbered users
  when:
  - not ocp4_workload_authentication_keycloak_user_password_randomized | bool
  - _ocp4_workload_authentication_keycloak_user_password == ""
  ansible.builtin.set_fact:
    _ocp4_workload_authentication_keycloak_user_password: >-
      {{
        lookup('password',
          [output_dir, '_ocp4_workload_authentication_keycloak_user_password'] | ansible.builtin.path_join,
          chars=['ascii_letters','digits'],
          length=ocp4_workload_authentication_keycloak_user_password_length
        )
      }}

# Set a password entry in _ocp4_workload_authentication_keycloak_user_passwords
# for each numbered user, either using the value set in the previous task or
# generating a new random value for each.
- name: Set passwords for numbered users
  ansible.builtin.set_fact:
    # Set password in list to provided password generated value if not set.
    _ocp4_workload_authentication_keycloak_user_passwords: >-
      {{ _ocp4_workload_authentication_keycloak_user_passwords +
        [
          _ocp4_workload_authentication_keycloak_user_password
          | default(_random_password, true)
        ]
      }}
  vars:
    _random_password: >-
      {{
        lookup('password',
          [output_dir, '_ocp4_workload_authentication_keycloak_user_passwords.' ~ _n] | ansible.builtin.path_join,
          chars=['ascii_letters','digits'],
          length=_user.password_length | default(ocp4_workload_authentication_keycloak_user_password_length)
        )
      }}
  loop: "{{ range(0, ocp4_workload_authentication_keycloak_num_users | int) | list }}"
  loop_control:
    loop_var: _n
