---
- name: Install keycloak operator
  ansible.builtin.include_role:
    name: install_operator
  vars:
    install_operator_name: rhbk-operator
    install_operator_namespace: "{{ ocp4_workload_authentication_keycloak_namespace }}"
    install_operator_manage_namespaces:
    - "{{ ocp4_workload_authentication_keycloak_namespace }}"
    install_operator_channel: "{{ ocp4_workload_authentication_keycloak_channel }}"
    install_operator_automatic_install_plan_approval: "{{ ocp4_workload_authentication_keycloak_automatic_install_plan_approval | default('true') }}"
    install_operator_starting_csv: "{{ ocp4_workload_authentication_keycloak_starting_csv }}"
    install_operator_catalogsource_setup: "{{ ocp4_workload_authentication_keycloak_use_catalog_source }}"
    install_operator_catalogsource_image: "{{ ocp4_workload_authentication_keycloak_catalogsource_image }}"
    install_operator_catalogsource_image_tag: "{{ ocp4_workload_authentication_keycloak_catalogsource_tag }}"

- name: Create Keycloak namespace
  kubernetes.core.k8s:
    api_version: v1
    kind: Namespace
    name: "{{ ocp4_workload_authentication_keycloak_namespace }}"
    state: present

- name: Setup Keycloak authentication
  ansible.builtin.include_tasks: setup_keycloak.yml

- name: Set up cluster admin users
  when: ocp4_workload_authentication_keycloak_admin_create | bool
  kubernetes.core.k8s:
    state: present
    template: "openshift-admin-crb.yml.j2"
  register: r_cluster_admin_role_binding
  until: r_cluster_admin_role_binding is successful
  delay: 15
  retries: 20

- name: Remove kubeadmin user
  when: ocp4_workload_authentication_keycloak_remove_kubeadmin | bool
  kubernetes.core.k8s:
    state: absent
    api_version: v1
    kind: Secret
    name: kubeadmin
    namespace: kube-system
  register: r_remove_kubeadmin_secret
  until: r_remove_kubeadmin_secret is successful
  delay: 15
  retries: 20
