---
apiVersion: org.eclipse.che/v2
kind: CheCluster
metadata:
  name: devspaces
  namespace: {{ ocp4_workload_devspaces_namespace }}
spec:
  components: {}
{% if ocp4_workload_devspaces_oauth_access_token_max_age_seconds | default('') | string | length > 0 or ocp4_workload_devspaces_oauth_access_token_inactivity_timeout | default('') | string | length > 0 %}
  networking:
    auth:
      oAuthClientName: devspaces
      oAuthSecret: devspaces-oauth-config
{% if ocp4_workload_devspaces_oauth_access_token_max_age_seconds | default('') | string | length > 0 %}
      accessTokenMaxAgeSeconds: {{ ocp4_workload_devspaces_oauth_access_token_max_age_seconds | int }}
{% endif %}
{% if ocp4_workload_devspaces_oauth_access_token_inactivity_timeout | default('') | string | length > 0 %}
      accessTokenInactivityTimeout: {{ ocp4_workload_devspaces_oauth_access_token_inactivity_timeout | int }}
{% endif %}
{% else %}
  networking: {}
{% endif %}
  devEnvironments:
    startTimeoutSeconds: 1200
    secondsOfInactivityBeforeIdling: -1
    maxNumberOfWorkspacesPerUser: {{ ocp4_workload_devspaces_max_number_of_workspaces }}
    maxNumberOfRunningWorkspacesPerUser: {{ ocp4_workload_devspaces_max_number_of_running_workspaces }}
