---
- name: Set cluster role bindings for cluster accounts
  kubernetes.core.k8s:
    force: true
    resource_definition:
      kind: ClusterRoleBinding
      apiVersion: rbac.authorization.k8s.io/v1
      metadata:
        name: "{{ ocp4_workload_authentication_provider }}-sso-user:{{ _account.name }}:{{ _account.cluster_role }}"
      roleRef:
        apiGroup: rbac.authorization.k8s.io
        kind: ClusterRole
        name: "{{ _account.cluster_role }}"
      subjects:
      - apiGroup: rbac.authorization.k8s.io
        kind: User
        name: "{{ _account.name }}"
  loop: "{{ _ocp4_workload_authentication_cluster_accounts }}"
  loop_control:
    label: "{{ _account.name }}"
    loop_var: _account
  when: _account.cluster_role | default('') != ''
