---
# Set password facts

# Set _ocp4_workload_authentication_cluster_account_password as a common password
# for cluster accounts unless configured for randomized passwords for each.
#
# If `ocp4_workload_authentication_cluster_account_password` was explicitly
# set then `_ocp4_workload_authentication_cluster_account_password` is
# set from that value by `vars/main.yml`.
- name: Set common password for cluster accounts
  when:
  - not ocp4_workload_authentication_cluster_account_password_randomized | bool
  - _ocp4_workload_authentication_cluster_account_password == ""
  vars:
    _password_file: >-
  ansible.builtin.set_fact:
    _ocp4_workload_authentication_cluster_account_password: >-
      {{
        lookup('password',
          [output_dir, '_ocp4_workload_authentication_cluster_account_password'] | ansible.builtin.path_join,
          chars=['ascii_letters','digits'],
          length=ocp4_workload_authentication_user_password_length
        )
      }}

# Set a password entry in _ocp4_workload_authentication_cluster_account_passwords
# for each cluster account, either using the value set in the previous task or
# generating a new random value for each.
- name: Set passwords for cluster accounts
  ansible.builtin.set_fact:
    _ocp4_workload_authentication_cluster_account_passwords: >-
      {{ _ocp4_workload_authentication_cluster_account_passwords
        | combine({
          _account.name: (
            _account.password
            | default(_ocp4_workload_authentication_cluster_account_password, true)
            | default(_random_password, true)
          )
        })
      }}
  vars:
    _random_password: >-
      {{
        lookup('password',
          [output_dir, '_ocp4_workload_authentication_cluster_account_passwords.' ~ _account.name] | ansible.builtin.path_join,
          chars=['ascii_letters','digits'],
          length=_account.password_length | default(ocp4_workload_authentication_user_password_length)
        )
      }}
  loop: "{{ _ocp4_workload_authentication_cluster_accounts }}"
  loop_control:
    loop_var: _account
    label: "{{ _account.name }}"

# Only set _ocp4_workload_authentication_user_password for
# a common password if randomized different passwords for each user is not
# desired.
#
# If `ocp4_workload_authentication_user_password` was explicitly
# set then `_ocp4_workload_authentication_user_password` is
# set from that value by `vars/main.yml`.
- name: Set common password for users
  when:
  - not ocp4_workload_authentication_user_password_randomized | bool
  - _ocp4_workload_authentication_user_password == ""
  ansible.builtin.set_fact:
    _ocp4_workload_authentication_user_password: >-
      {{
        lookup('password',
          [output_dir, '_ocp4_workload_authentication_user_password'] | ansible.builtin.path_join,
          chars=['ascii_letters','digits'],
          length=ocp4_workload_authentication_user_password_length
        )
      }}

# Set a password entry in _ocp4_workload_authentication_user_passwords
# for each user, either using the value set in the previous task or
# generating a new random value for each.
- name: Set passwords for users
  ansible.builtin.set_fact:
    # Set password in list to provided password generated value if not set.
    _ocp4_workload_authentication_user_passwords: >-
      {{ _ocp4_workload_authentication_user_passwords +
        [
          _ocp4_workload_authentication_user_password
          | default(_random_password, true)
        ]
      }}
  vars:
    _random_password: >-
      {{
        lookup('password',
          [output_dir, '_ocp4_workload_authentication_user_passwords.' ~ _n] | ansible.builtin.path_join,
          chars=['ascii_letters','digits'],
          length=_user.password_length | default(ocp4_workload_authentication_user_password_length)
        )
      }}
  loop: "{{ range(0, ocp4_workload_authentication_num_users | int) | list }}"
  loop_control:
    loop_var: _n

# Initialize list of accounts with passwords for each numbered users.
- name: Set list of accounts
  ansible.builtin.set_fact:
    _ocp4_workload_authentication_user_accounts: >-
      {{ _ocp4_workload_authentication_user_accounts +
         _account_names
         | json_query('[].{"name":@, "password":`' ~ _password|to_json ~ '`}')
      }}
  loop: "{{ range(0, ocp4_workload_authentication_num_users | int) | list }}"
  loop_control:
    loop_var: _n
  vars:
    _account_names: >-
      {{
        ocp4_workload_authentication_per_user_account_names
        | product([_user_number])
        | map('join', '')
        if ocp4_workload_authentication_multiuser | bool else
        ocp4_workload_authentication_per_user_account_names
      }}
    _user_name: >-
      {{
        ocp4_workload_authentication_user_basename ~ _user_number
        if ocp4_workload_authentication_multiuser | bool else
        ocp4_workload_authentication_user_name
      }}
    _user_number: "{{ _n | int + 1 }}"
    _password: >-
      {{
        _ocp4_workload_authentication_user_passwords[_n]
      }}
