---
- name: Create temporary htpasswd file
  ansible.builtin.tempfile:
    state: file
    suffix: htpasswd
  register: r_htpasswd

- name: Add cluster accounts to htpasswd file
  ansible.builtin.command: >-
    /usr/bin/htpasswd -b {{ r_htpasswd.path | ansible.builtin.quote }}
    {{ _name | ansible.builtin.quote }}
    {{ _password | ansible.builtin.quote }}
  loop: >-
    {{ _ocp4_workload_authentication_cluster_account_passwords
     | ansible.builtin.dict2items
    }}
  loop_control:
    label: "{{ _name }}"
  vars:
    _name: "{{ item.key }}"
    _password: "{{ item.value }}"

- name: Add user accounts to htpasswd file
  ansible.builtin.command: >-
    htpasswd -b {{ r_htpasswd.path | ansible.builtin.quote }}
    {{ _name | ansible.builtin.quote }}
    {{ _password | ansible.builtin.quote }}
  loop: "{{ _ocp4_workload_authentication_user_accounts }}"
  loop_control:
    label: "{{ item.name }}"
  vars:
    _name: "{{ item.name }}"
    _password: "{{ item.password }}"

- name: Read contents of htpasswd file
  ansible.builtin.slurp:
    src: "{{ r_htpasswd.path }}"
  register: r_htpasswd_file

- name: Remove generated htpasswd file
  ansible.builtin.file:
    path: "{{ r_htpasswd.path }}"
    state: absent

- name: Create or update htpasswd secret
  kubernetes.core.k8s:
    force: true
    resource_definition:
      api_version: v1
      kind: Secret
      metadata:
        name: "{{ ocp4_workload_authentication_htpasswd_secret_name }}"
        namespace: openshift-config
      data:
        htpasswd: "{{ r_htpasswd_file.content }}"
  register: r_htpasswd_secret
  retries: 5
  delay: 10
  until: r_htpasswd_secret is success

- name: Update OAuth configuration
  kubernetes.core.k8s:
    state: present
    template: htpasswd/openshift-oauth.yml.j2
  register: r_htpasswd_oauth
  retries: 5
  delay: 10
  until: r_htpasswd_oauth is success
